In [220]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [238]:
df = pd.read_excel('D:\Python\Project\EGX30.xlsx', sheet_name='EGX30')

In [239]:
df['H-L'] = df['HIGH'] - df['LOW']
df['H-PC'] = abs(df['HIGH'] - df['CLOSE'].shift(1))
df['L-PC'] = abs(df['LOW'] - df['CLOSE'].shift(1))

In [240]:
true_range = []
averag_true_range = []
atr = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
upper_band_basic = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [241]:
for x in range(0, len(df.index)):
    true_range2 = max(df['H-L'].iloc[x], df['H-PC'].iloc[x], df['L-PC'].iloc[x])
    true_range.append(true_range2)

In [242]:
df2 = pd.DataFrame(true_range, columns=['True Range'])
df['True Range'] = df2['True Range']

In [243]:
for x in range(2, len(df.index)):
    atr2 = df.loc[x:x + 9, "True Range"].mean()
    atr.append(atr2)

In [244]:
df3 = pd.DataFrame(atr, columns=['ATR'])
df['ATR'] = df3['ATR']
multiplier = 3
df['ubb'] = ((df['high'] + df['low']) / 2) + (df['ATR'] * multiplier)
df['lbb'] = ((df['high'] + df['low']) / 2) - (df['ATR'] * multiplier)
df['ubf'] = 0
df['lbf'] = 0
df['st'] = 0

In [245]:
for x in range(11,len(df.index)):
            if (df.loc[x, 'ubb'] < df.loc[x-1, 'ubf']) or (df.loc[x-1, 'close'] > df.loc[x-1, 'ubf']):
                df.loc[x, 'ubf'] = df.loc[x, 'ubb']
            else:
                df.loc[x, 'ubf'] = df.loc[x-1, 'ubf']
            if (df.loc[x, 'lbb'] > df.loc[x-1, 'lbf']) or (df.loc[x-1, 'close'] < df.loc[x-1, 'lbf']):
                df.loc[x, 'lbf'] = df.loc[x, 'lbb']
            else:
                df.loc[x, 'lbf'] = df.loc[x-1, 'lbf']
            if ((df.loc[x-1, 'st'] == df.loc[x-1, 'ubf']) and (df.loc[x, 'close'] <= df.loc[x, 'ubf'])) \
                    or ((df.loc[x-1, 'st'] == df.loc[x-1, 'lbf']) and (df.loc[x, 'close'] <= df.loc[x, 'lbf'])):
                df.loc[x, 'st'] = df.loc[x, 'ubf']
            else:
                ((df.loc[x-1, 'st'] == df.loc[x-1, 'ubf']) and (df.loc[x, 'close'] > df.loc[x, 'ubf'])) \
                or ((df.loc[x-1, 'st'] == df.loc[x-1, 'lbf']) and (df.loc[x, 'close'] >= df.loc[x, 'lbf']))
                df.loc[x, 'st'] = df.loc[x, 'lbf']

In [246]:
df.round(2)

,date,open,high,low,close,H-L,H-PC,L-PC,True Range,ATR,ubb,lbb,ubf,lbf,st
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,0.00,0.00,0.00
1,01/01/1998,1000.00,1000.25,1000.00,1000.25,0.25,NaN,NaN,0.25,0.00,1000.12,1000.12,0.00,0.00,0.00
2,01/04/1998,1000.25,1000.25,998.39,998.39,1.86,0.00,1.86,1.86,0.00,999.32,999.32,0.00,0.00,0.00
3,01/05/1998,998.39,998.39,996.25,996.25,2.14,0.00,2.14,2.14,0.00,997.32,997.32,0.00,0.00,0.00
4,01/06/1998,996.25,996.25,992.87,992.87,3.38,0.00,3.38,3.38,0.00,994.56,994.56,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5397,03/23/2020,9750.66,10414.65,9750.66,10047.44,663.99,663.99,0.00,663.99,647.76,12025.94,8139.37,10420.71,8315.37,10420.71
5398,03/24/2020,10047.44,10047.65,9770.23,9770.48,277.42,0.21,277.21,277.42,581.92,11654.71,8163.17,10420.71,8315.37,10420.71
5399,03/25/2020,9770.48,9910.81,9770.48,9865.67,140.33,140.33,0.00,140.33,574.31,11563.57,8117.72,10420.71,8315.37,10420.71
5400,03/26/2020,9865.67,9930.28,9856.90,9912.98,73.38,64.61,8.77,73.38,560.97,11576.51,8210.67,10420.71,8315.37,10420.71
5401,03/29/2020,9912.98,9913.16,9744.74,9760.18,168.42,0.18,168.24,168.42,473.24,11248.66,8409.24,10420.71,8409.24,10420.71

In [250]:
df.to_excel(r'D:\Python\Project\Temp\osama2.xlsx', index = False)