In [1]:
import numpy as np
import pandas as pd

In [3]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

In [7]:
arr

array([10, 20, 30])

In [13]:
my_pandas=pd.Series(labels,arr)

In [17]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Germany','Italy', 'Japan'])

In [16]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [18]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [22]:
ser1['Germany']

2

In [23]:
ser1+ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [28]:
from numpy.random import randn
np.random.seed(101)
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [29]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [31]:
np.random.rand()

array([0.91315356, 0.80792015, 0.40299783, 0.35722434, 0.95287671,
       0.34363158, 0.86509982, 0.83027771, 0.53816145, 0.92246937])